APP_NAME=TeacherDesk Lokal
APP_URL=http://localhost/teacherdesk-local-desktop
APP_TIMEZONE=Asia/Jakarta
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=teacherdesk_local
DB_USER=root
DB_PASS=
OPENROUTER_API_KEY=masukkan key disini